html {
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;

    -webkit-text-size-adjust: 100%;

  }
  

  body {
    margin: 0;
  }
  
 
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
 
  audio,
  canvas,
  progress,
  video {
    display: inline-block;

    vertical-align: baseline;
 
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }
  

  [hidden],
  template {
    display: none;
  }
  
  
  a {
    background-color: transparent;
  }
  

  a:active,
  a:hover {
    outline: 0;
  }
  
 
  abbr[title] {
    border-bottom: 1px dotted;
  }
  

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }
  

  h1 {
    font-size: 2em;
  }
  
 
  mark {
    background: #ff0;
    color: #000;
  }
  
 
  small {
    font-size: 80%;
  }
  
 
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sup {
    top: -0.5em;
  }
  
  sub {
    bottom: -0.25em;
  }
  

  img {
    border: 0;
  }
  
 
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  
 
  hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
  }
  

  pre {
    overflow: auto;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
  
    font: inherit;
  
    margin: 0;
  
  }

  button {
    overflow: visible;
  }
  

  button,
  select {
    text-transform: none;
  }
  

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
   
    cursor: pointer;
   
  }
  
 
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
 
  input {
    line-height: normal;
  }
  

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
 
    padding: 0;
  
  }
  

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  

  input[type="search"] {
    -webkit-appearance: textfield;
   
    -webkit-box-sizing: content-box;
   
    box-sizing: content-box;
  }
  
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
 
  legend {
    border: 0;
    
    padding: 0;
   
  }
  

  textarea {
    overflow: auto;
  }
  
 
  optgroup {
    font-weight: bold;
  }
  

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .logo, .burger, .navigation__list, .footer__wrapper, .header__wrapper, .training__content, .training__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .button-rounded, .footer__link, .header__logo, .training, .training__wrapper, .overlay, .pop-up__content, .training-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .training {
    padding: 80px 0 100px;
  }
  
  html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 767px) {
    body {
      overflow-x: hidden;
    }
  }
  
  * {
    margin: 0;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: auto;
  }
  
  @media (max-width: 1279px) {
    .wrapper {
      padding: 0 30px;
    }
  }
  
  @media (max-width: 767px) {
    .wrapper {
      padding: 0 10px;
    }
  }
  
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #F1CDB3;
  }
  
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 4.4rem;
    line-height: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0;
    color: #545454;
  }
  
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.15em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  .paragraph_L {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.6em;
  }
  
  .paragraph_S {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  .hidden {
    display: none;
  }
  
  .overflow-y {
    overflow-y: hidden;
  }
  
  .logo {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .logo__title {
    color: #F1CDB3;
    margin-bottom: 10px;
  }
  
  .logo__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.15em;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
  
  .burger {
    display: none;
    height: 22px;
    width: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 43px;
    cursor: pointer;
    z-index: 3;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  
  .burger__line {
    height: 2px;
    width: 30px;
    background-color: #F1CDB3;
  }
  
  .burger-active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  @media (max-width: 767px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .burger-dark .burger__line {
    background-color: #000000;
  }
  
  .button-square {
    border-radius: 100px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #292929;
  }
  
  .button-square:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
  
  .button_primary {
    padding: 15px 45px;
    background-color: #F1CDB3;
    border: none;
  }
  
  .button_secondary {
    padding: 13px 43px;
    border: #F1CDB3 2px solid;
    background-color: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .button-rounded {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: #F1CDB3 2px solid;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.15em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #292929;
    outline: none;
  }
  
  .button-rounded:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
  
  .button-rounded_colored {
    background-color: #F1CDB3;
    border: none;
  }
  
  .pagination_inactive {
    border-color: #CDCDCD;
    color: #CDCDCD;
    cursor: default;
  }
  
  .pagination_inactive:hover {
    border-color: #CDCDCD;
    background-color: inherit;
  }
  
  @media (max-width: 767px) {
    .navigation {
      height: 100vh;
      width: 320px;
      position: fixed;
      right: 0;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 2;
      background-color: #292929;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }
    .navigation-active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  
  .navigation__list {
    padding: 0;
  }
  
  @media (max-width: 767px) {
    .navigation__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .navigation__item {
    margin-left: 35px;
    list-style-type: none;
  }
  
  @media (max-width: 767px) {
    .navigation__item {
      margin-bottom: 40px;
    }
  }
  
  .navigation__link {
    color: #CDCDCD;
    text-decoration: none;
  }
  
  .navigation__link:hover {
    color: #FAFAFA;
  }
  
  .navigation__link:visited {
    text-decoration: none;
  }
  
  .navigation .active {
    color: #FAFAFA;
    border-bottom: #F1CDB3 3px solid;
  }
  
  @media (max-width: 767px) {
    .navigation-light {
      background-color: #FAFAFA;
    }
  }
  
  .navigation-light .navigation__link {
    color: #545454;
  }
  
  .navigation-light .navigation__link:hover {
    color: #292929;
  }
  
  .navigation-light .active {
    color: #545454;
  }
  
  .footer {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding: 40px 40px 0;
  }
  
  @media (max-width: 1279px) {
    .footer {
      padding: 30px 0 0;
    }
  }
  
  @media (max-width: 767px) {
    .footer {
      padding: 30px 0 0;
      text-align: center;
    }
  }
  
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  @media (max-width: 1279px) {
    .footer__wrapper {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
  
  .footer__contacts {
    max-width: 279px;
  }
  
  .footer__locations {
    max-width: 302px;
  }
  
  .footer__section {
    margin-bottom: 43px;
  }
  
  @media (max-width: 1279px) {
    .footer__section {
      margin-bottom: 65px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__section {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  
  .footer__title {
    color: #FFFFFF;
  }
  
  @media (max-width: 767px) {
    .footer__title {
      width: 95%;
      margin: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5rem;
      line-height: 1.3em;
      letter-spacing: 0.06em;
    }
  }
  
  .footer_ico {
    margin-right: 20px;
  }
  
  .footer h4 {
    color: #F1CDB3;
  }
  
  .footer__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  .footer .contacts__email {
    margin: 40px 0;
  }
  
  .footer .location-boston {
    margin: 33px 0;
  }
  
  @media (max-width: 414px) {
    .footer__Igor {
      width: 81%;
    }
  }
  
  .header {
    padding: 60px 0;
  }
  
  @media (max-width: 1279px) {
    .header {
      padding: 30px 0 60px;
    }
  }
  
  .header__wrapper {
    height: 60px;
  }
  
  @media (max-width: 767px) {
    .header__wrapper {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }
  
  .header__logo {
    z-index: 3;
  }
  
  .header .logo-move {
    position: absolute;
    top: 30px;
    right: 53px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .header-light {
    padding: 30px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFFFFF;
  }
  
  .logo-dark .logo__title {
    color: #545454;
  }
  
  .logo-dark .logo__subtitle {
    color: #292929;
  }
  
  .training {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 9px;
    background-color: #FAFAFA;
    cursor: pointer;
  }
  
  .training:hover {
    background-color: #FFFFFF;
  }
  
  .training > * {
    margin-bottom: 30px;
  }
  
  .training__img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  
  .training {
    background-color: #F6F6F6;
    text-align: center;
  }
  
  @media (max-width: 1279px) {
    .training {
      padding-bottom: 76px;
    }
  }
  
  @media (max-width: 767px) {
    .training {
      padding: 42px 0;
    }
  }
  
  .training__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .training__title {
    width: 400px;
  }
  
  @media (max-width: 767px) {
    .training__title {
      font-style: normal;
      font-weight: normal;
      font-size: 2.5rem;
      line-height: 1.3em;
    }
  }
  
  .training__content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 60px 0 30px;
  }
  
  @media (max-width: 1279px) {
    .training__content {
      margin: 30px 0 12px;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
  
  @media (max-width: 767px) {
    .training__content {
      margin: 42px 0 12px;
    }
  }
  
  .training__card {
    margin-bottom: 30px;
  }
  
  .training__pagination {
    width: 340px;
  }
  
  @media (max-width: 414px) {
    .training__pagination {
      width: 100%;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
  
  .pop-up {
    border-radius: 9px;
    position: relative;
    background-color: #FFFFFF;
  }
  
  .pop-up__img {
    width: 500px;
    border-radius: 9px 0 0 9px;
  }
  
  @media (max-width: 1279px) {
    .pop-up__img {
      width: 350px;
    }
  }
  
  @media (max-width: 767px) {
    .pop-up__img {
      display: none;
    }
  }
  
  .pop-up__cancel {
    position: absolute;
    top: -45px;
    right: -45px;
    background-color: unset;
  }
  
  .training-information {
    width: 351px;
    padding: 0 20px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  @media (max-width: 1279px) {
    .training-information {
      width: 260px;
      padding: 0 10px;
    }
  }
  
  @media (max-width: 767px) {
    .training-information {
      width: 220px;
      padding: 10px;
    }
  }
  
  .training-breed {
    margin-top: 10px;
  }
  
  .training-description {
    margin: 40px 0;
  }
  
  @media (max-width: 1279px) {
    .training-description {
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 1.1em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 0.06em;
      margin: 20px 0;
    }
  }
  
  .training-properties {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    list-style-type: none;
  }
  
  .training-properties li::before {
    content: "\2022";
  
    color: #F1CDB3;
  
    font-weight: bold;

    display: inline-block;
  
    width: 1em;
 
    margin-left: -2.5em;

  }